* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.columnFeed {
  float: left;
  height: 300px; /* Should be removed. Only for demonstration */
}

.leftFeed {
  padding-top: 5em;
  padding-left: 1.5em;
  width: 35%;
}

.middleFeed {
  width: 65%;
  padding: 2.5em;
}

#map {
	width: 100%;
    height: 100%;
    margin-bottom: 2em;
}

.subtitle {
	font-size: 1.4em;
	line-height: .5em;
	color: black;
	font-weight: bold;
}

.rec {
	text-align: center;
	width: 100% !important; 
	margin-bottom: 2em;
}

.topBuddies {
	border-radius: 1em;
	border: thin solid gray;
	margin-bottom: 2em;
	padding: 1em;
	background-color: #e8eeea;
}

.response-container {
	display: block;
}

.comment-input-container {
	margin-left: -0.15em;
  }
  
  .input-group> textarea {
	resize: none;
	overflow: hidden;
	min-height: 32px;
	height: 32px;
	max-height: 100px;
  }
  
  .comment-image {
	object-fit: cover;
	width: 32px;
	height: 32px;
  }

  .comment-username {
	font-size: 1em;
	color: black;
	font-weight: bold;
  }
  
  .comment-time-container {
	line-height: normal;
  }
  
  .comment-text {
	font-size: 1em;
  }

  .response-container {
	font-size: 0.85em;
  }
  
  .reaction-icon {
	line-height: 1.2em;
	font-size: 1.2em;
  }
  
  .action-container > * {
	width: 48%;
  }

  .activity-div {
	  font-size: 1em;
  }